@media (max-width:$width-frame-mob){
    main {
        overflow-x: hidden;
        overflow-y: hidden;
    }
.frame-3331{
    // height: 719px;
    
    // height: 719px;
    // width: 375px;
    width: 100%;
    background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
 }
.tag-mob{
    display: none;
}    
.frame-3331-image2{
    background: url(./image/section-im2-mob.jpg) no-repeat  top ;
 width: 95vw;
position:relative ;
max-width: 100vmax;
margin-bottom: 50px;

height: 64vw;
background-size: contain;
}
.frame-3331-image1{
    position: absolute;
    background: url(./image/section-im1.svg) no-repeat;
    width: 83px;
    height: 118px;
    left: -90px;
    bottom: 0px;
}
.content{
    width: 100vw;
    padding-bottom: 35px;
    margin-top: 300px;
    }

.frame-3331-text-mob{
    margin-left: 15px;
}
.frame-3331-text-h6-mobR{
    margin: 0px 15px 40px 15px;
}
 h5{
font-size: 14px;
line-height: 19px;
letter-spacing: 0px;
}
h1 {
font-weight: 700;
font-size: 28px;
line-height: 38.19px;
}
.h1-Extra-Bold{
font-size: 45px;
line-height: 50px;
color: #E3E3E3;
 }
h6{
font-size: 14px;
line-height: 22px;
}
h3 {
  //styleName: Mobile Font / H1 / Bold;
font-size: 28px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0px;
}
h4{
font-size: 20px;
line-height: 27px;
text-align: center;
}
.h5-bold{
//styleName: Mobile Font/H5/Bold;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0px;
}
.fontPoppins-400-16{
    //styleName: Mobile Font/H6/Regular;
font-family: Nunito;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;

}
.sizesH1{
    @include sizes (auto, 76px,0px, 0px, 0px, 0px);
    margin-bottom: 15px;
    }
.sizesH5{
    @include sizes (auto, 19px,0px, 0px, 0px, 0px);
   
    }
.sizesH6{
    @include sizes (auto, 66px,0px, 0px, 0px, 0px);
    }
.container3{display: none}
.container3-mob{
        @include container( flex,100%,initial,
        flex-start, 0px, 0px, 0px, 0px,
        100vw, auto  );
        // 375px,719px  );
        flex-direction: column;
        flex-wrap: nowrap;
    }
.button{
        width: 303px;
        height: 44px;
        margin: 0 auto 20px auto;
}
.button-line{
    align-items: center;
    margin: 0px auto 20px auto;  
    
    flex-wrap: wrap;
    justify-content: center;

}
.tag-line{
    // margin: 0 auto 0 90px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 35px;
    position: relative;
}

.circle {

 width: 133px;
 height: 32px;
 background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
 border-radius: 16px;
 }
 .button-font{
font-size: 16px;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
}
.fontNunito-700-15
{ font-size: 12px;
  line-height: 16px;
 color: $Heading-Color;
}
.line-height{
    @include line-height(32px);
 }
 .tag-no-mob{
display: contents;
font-family: Nunito;
font-size: 10px;
font-weight: 400;
line-height: 14px;
}
.container4-no-mob{
    display: none;
}
.container4-mob{
    display: flex;
    
}

// section -grid
.container4{
    @include container( grid,100%,unset,
    unset, 50px, 0px, 50px, 0px,
    100%,1261px  );
}
.h5-bold-white-mob{
    color: $Heading-Color;
}  
.paragraph-color-mob{
    color: $paragraph-color;
   
}
.container4-item2 { grid-area: text-h6;
padding-bottom: 0px;}
.container4-item3 { grid-area: line-1-1; 
    background-color: white;
    padding: 0px 0px;
    
    
}
.container4-item-mob{
    display: flex;
    position: relative;
}
.container4-item
{
    padding: 0px 0px;
    text-align:initial ;}

.container4-grid-template-areas {
    grid-template-areas:
    'text-h3'
    'text-h6'
    'line-1-1' 
    'line-1-2'
    'line-1-3'
    'line-1-4'
    'line-2-1'
    'line-2-2'
    'line-2-3'
    'line-2-4';
    gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: 38px 110px 116px 116px 116px 116px 116px 116px 116px 116px;
}

.container4-item-size-img{
    margin: 0px auto 0px auto;
    width: 112px;
    height: 92px;
}
.container4-item-size-img-smoll{
    margin: 25px auto auto auto;
    width: 50px;
    height: 50px;
    position: absolute;
    background-position: top center;
    background-size: 50px 50px;  
}


.container4-item-hover:hover [class*="container4-item"]{
    background-position: top center;
    background-size: 50px 50px;  
}

.container4-item-flex{
    position: absolute;
    left: 112px;
    top: 45px;
}
.margin {
    margin: 15px 0 10px 0;
}

//About-us
.container-About-us{
    @include container( flex,100%,initial,
    flex-start, 0px, auto, 50px, auto,
    100%, fit-content  );
    // 375px,1231px  );
    flex-direction: column;
    flex-wrap: nowrap;
    
}
.container-About-us-left{
@include sizes (375px, 462px , 0,0,0,0);
// @include sizes (100%, 462px, 0,0,0,0);
position: relative;
margin: 0 auto;
flex: 1 0 40%;
}
.container-About-us-left::after{
    content: "";
    display: block;
    clear: both;
}
.container-About-us-left-gren{
    height: 293px;
    width: 188px;
    left: 15px;
    margin-bottom: 150px
}
.container-About-us-left-601-741{
    height: 358px;
    width: 291px;
    left: 27px;
    top: 12px;
    position: absolute;
    margin: 0 ;
    background-size: 291px 358px;
}
.container-About-us-left-453-356{
    height: 162px;
    width: 241px;
    left: 118px;
    top: 267px;
    position: absolute;
    border: 9px solid #FFFFFF;
    margin: 0 0 30px 0;
    
    
    background-size: 241px 162px;
}
    

.container-About-us-right{
    @include sizes (100%, fit-content, 0, 10px, 0, 10px);
    padding-top: 0;
    // gap: 15px;
    display: flex;
    flex-direction: column;
    
}
.h3-About-us{
    letter-spacing: -1px;
    text-align: center;
}
.container-About-us-right-p{
    height: auto;
    width: 100%;
    margin: 15px 0 40px 0;
}
.container-About-us-cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 208px;
    width: 334px;
    gap: 20px;
    margin: 0 auto;
}
.about-us-cards{
    
    flex-direction: column;
}
.card-our{
    @include sizes (162px,94px,0px,0px, 0px,0px);
    box-shadow: 2px 11px 30px 0px #33333314;

    }
.about-us-cards-icon{
        @include sizes (40px,40px,0px,0px,0px,0px);
        
    background-size: 40px 40px;
        
}
.container-About-us-cards-l{
    gap: 20px;
}
.button-About-us{
    width: 167px;
    height: 40px;
    margin: 30px auto 0 auto;
}

//Why-Choose-Us
.container-Why-Choose-Us{
    
    @include  container ( flex, 100%,flex-start,
    center, 0px, 0px, 50px, 0px,
    100%,fit-content );
//684px
flex-direction: column;
}
.why-Choose-Us-left{
    @include sizes (100%, fit-content, 0,0,0,0);
    position: relative;
    order: 2;
    }
    .why-Choose-Us-right{
        @include sizes (100%, auto, 0,0,0,0);
        position: relative;
    order: 1;
    display: flex;
    align-items: flex-start;
        }
.why-Choose-Us-right-img2{
// background: url(./image/why-Choose-Us-right.svg) top center/590px 597px no-repeat;
background-size: 199px 196px;
height: 196px;
width: 199px;
left: calc(100vw - 130px);
// left: 245px;
top: -80px;
transform: matrix(-0.39, 0.92, -0.92, -0.4, 0, 0);
flex: 0 0 50%; 
        }
.why-Choose-Us-right-img{
 background-size: 90vw;
//  width: 100%;
//  height: 217px;
 margin: 50px auto 30px auto;
width: 100vw;
position:relative ;
max-width: 100vmax;
height: 35vh;
}
.why-Choose-Us-left-img1{
    background-size: 251px 248px;
    height: 248px;
    width: 251px;
    transform: matrix(-0.5, 0.87, -0.86, -0.5, 0, 0);
    left: -175px;
    top: -130px;
}
.why-Choose-Us-left-text{
    width: calc( 100% - 30px);
    height: fit-content;
    margin: 30px 15px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.why-Choose-Us-left-tag{
    height: 64px;
    width: 100%;
    flex-direction: column;
    }
.why-Choose-Us-left-card{
        width: 158px;
        height: 22px;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
    }
    .why-Choose-Us-left-card2{
        width: 158px;
    }
.why-Choose-Us-icol{
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    
        }

.why-Choose-Us-left-card-text{
            width: 128px;
            }
.why-Choose-Us-left-card-text2{
            width: 128px;
            }
.button-why-Choose-Us{
    width: 167px;
    height: 40px;
}

// Working Process

.container-Working-Process{
    @include  container ( flex, 100%,flex-start,
    center,0px, auto, 50px, auto,
    100%,auto );
    flex-direction: column;
    
    gap: 15px;
    position: relative;
    }  
.w-P-h6-aligan{
        padding-bottom: 15px;
    }
.working-Process-cards{
        @include sizes (100%, fit-content, 0,0,0,0);
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
        max-width: 100vmax;
        max-height:fit-content;
        margin: 0 auto;
    }

.w-P-cards-item{
    height: 208px;
    width: 345px;
    
    padding: 20px ;
    margin: 0  auto;
    
    }
.w-P-img{
        width: 50px;
        height: 50px;
        margin: auto 0;
        background-size: 50px 50px;
    }    

    .w-P-cards-item-num{
        @include sizes (27px, 50px, 0,0,0,0);  
        line-height: 50px;
    }
.w-P-cards-item-vector{
background-size: 76px 111px;
    // background: url(./image/W-P-List.svg) top center/110px 161px no-repeat;
        // position: absolute;
        width: 76px;
        height: 111px;
        left: 255px;
        top: 50px;
        
        }
.w-P-cards-item:hover [class*="w-P-cards-item-img"]
{
background-size: 50px 50px;
}    
.w-P-cards-item:hover .w-P-cards-item-vector
{
    background-size: 76px 111px;
 }
// cta
.container-cta{
    @include  container ( flex, 100%,center,
    center,0px,auto, 50px, auto,
    calc(100% * 345 / 375) ,fit-content );
    background: url(./image/CTA-Img.png) top center/calc(100% * 345 / 375) 224px no-repeat;
    // width: 345px;
    height: 224px;
padding-right: 0px;
} 
.callus-cta{
height: 40px;
width: 137px;
padding: 10px 0px ;

}   
.cta-h4{
    height: 54px;
    width: 272px;
    
    }
.container-cta-conect{
        position: relative;
        height: 124px;
    width: calc(100% * 345 / 375);
    gap: 30px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

//team
.container-Our-Trained-Staff{
    @include  container ( flex, 100%,flex-start,
    center,0px,auto, 50px, auto,
    100%,auto );
    gap: 15px;

    
    gap: 15px;
    position: relative;




    }
.our-Trained-Staff-h3{
        align-self: center;
    }

.line-Our-Trained-Staff-h6{
height: fit-content;
width: 100%;
padding: 0 15px;
}
.line-Our-Trained-Staff{
    width: 100%;
    height: fit-content ;
    justify-content: space-between;
align-items: center;
flex-direction: column;
}
.our-Trained-Staff-card{
    height: 438px;
    width: 345px;
    gap: 0px;
    position: relative;
    }

    .button-team{
        width: 167px;
        height: 40px;
        margin-top: 30px;
    }
// slider  our-Trained-Staff
.dots-style {
    text-align: center;
    display: flex;
    // flex-direction: row;
    justify-content: center;
    list-style: none;
  }
  
  .dots-style button {
    background: $Heading-Color;
    border: 1px $Heading-Color solid;
    
    font-size: 0;
    height: 6px;
    width: 20px;
    margin: 12px;
    border-radius: 3px;
    
  }
  .dots-style li[class="slick-active"] button {
    width: 50px;
  }
//slider
    //what-clients-saying
    .clients-saying-slider .slick-prev {
        left: unset;
        right: 40px;
    }
    
    .clients-saying-slider .slick-arrow{
        // margin: 0 100px; 
        z-index: 2; 
        width: 25px; 
        height: 25px; 
        top: -7%;
        // left: 93%;
      }

    .clients-saying-fon{
        height: 585px;
        width: 100%;
    }

.what-clients-saying{
    @include  container ( flex, 100%,end,
    center,0px,auto, 50px, auto,
    100%,fit-content );
    gap: 40px;
    flex-direction: column;   
    position: relative;
    padding: 70px 10px 0px 10px;
}
.clients-saying-h6{
    text-align: justify;
    width: fit-content;
    margin: 0 10px;

}

.clients-saying-slider{
    width: 100%;
    max-width: $width-frame;
    max-height: fit-content;
    // max-height: 431px;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
}
.c-s-slider-card{
    width: 100% ;
    background: #FFFFFF;
box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);

}
.c-s-slider-contex{
    justify-content:space-between ;
    
    max-height: fit-content ;
    flex-direction: column;
    align-items: center;
}
.c-s-slider-contex-img{
    width: calc(100% * 135 / 375);
    margin: 33px 0px 33px 15px;
    z-index: 1;
    align-self: flex-start;
    
}
.c-s-slider-contex-text{
    width: calc(100% * 335 / 375);
    
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    position: relative;
}
.c-s-slider-contex-text-name{
    height: fit-content;
    width: 100%;
    margin-top: 15px;
    
}
.c-s-slider-contex-text-name-item{
    width: 81px;
    height: 40px;
    
}
.like-star{
     gap: 13px;
}
.kavuchka{
width: 30px;
height: 30px;
top: 0px;
opacity: 0.1;
}
//faq
.faq{
    @include  container ( flex, 100%,end,
    flex-start,50px,auto, 50px, auto,
    100%,fit-content );
    gap: 0px;
     
}
.faq-Content{
    @include  container ( flex, 100%,end,
    flex-start,0px,auto, 0px, auto,
    100%,auto );
    gap: 15px;
       
 }
 .faq-img{
    display: none;
 }
 .faq-menu{
    width: 98.5%;
}
.faq-num >li{
    
    padding: 0px 10px;
    margin: 20px 0px;
    width: 95.8%;
    
 }
.faq-center{
    width: 65%;
    text-align: center;
}
.faq-subCat:checked~.chka{
    content: url(./image/faq-hoverMob.svg);
  
}   
//Our Insights & Articles
.our-Insights-Articles{
    @include  container ( flex, 100%,end,
    center, 0px,auto, 50px, auto,
    100%,auto );
    gap: 0px;
    
}
.our-I-A-slider{
    width: 345px;
    height:  408px;
    gap: 10px;
 }
 .our-I-A-slide1{
    width: 345px;
    height: 408px;
    max-height: 408px;
    padding: 0 30px;
    
   gap: 40px;
   background: url(./image/OIA-line-left.jpg) top /345px 408px no-repeat;
   } 
   .our-I-A-slider-h6{
    width: 122px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    line-height: 30px;
    z-index: 5;
}
.our-I-A-line{
    width: 120%;
    margin-left: -30px;
    top: 340px;
    }
.dots-style-our button {
        font-size: 0;
        height: 6px;
        width: 25px;
        margin: 10px;
        border-radius: 3px;
        
      }
.our-I-A-slide2{
background: url(./image/OIA-line-list.svg) top right /117px 116px no-repeat;
         gap: 15px;
}

.our-I-A-slide3{
background-size: 345px 408px ;
  }
  .our-I-A-linear  { 
    border-radius: 5px;
    height: 408px;
    width: 345px;
    margin-left: -30px;
    
    
}
.our-I-A-date-Admin{
    margin: 80px 0px 0px 0px ;
    
    }
    .our-I-A-text{
        margin-bottom: 20px;
    }

}