@media (max-width:$width-frame-mob){
.frame-3331{
    // height: 719px;
    
    // height: 719px;
    // width: 375px;
    width: 100%;
    background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
 }
.tag-mob{
    display: none;
}    
.frame-3331-image2{
    background: url(./image/section-im2-mob.jpg) no-repeat  top ;
 width: 100vw;
position:relative ;
max-width: 100vmax;
margin-bottom: 50px;

height: 64vw;
background-size: contain;
}
.frame-3331-image1{
    position: absolute;
    background: url(./image/section-im1.svg) no-repeat;
    width: 83px;
    height: 118px;
    left: -90px;
    bottom: 0px;
}
.content{
    width: 100vw;
    padding-bottom: 35px;
    margin-top: 300px;
    }

.frame-3331-text-mob{
    margin-left: 15px;
}
.frame-3331-text-h6-mobR{
    margin: 0px 15px 40px 15px;
}
 h5{
font-size: 14px;
line-height: 19px;
letter-spacing: 0px;
}
h1 {
font-weight: 700;
font-size: 28px;
line-height: 38.19px;
}
.h1-Extra-Bold{
font-size: 45px;
line-height: 61px;
color: #E3E3E3;
 }
h6{
font-size: 14px;
line-height: 22px;
}
h3 {
  //styleName: Mobile Font / H1 / Bold;
font-size: 28px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0px;
}
.h5-bold{
//styleName: Mobile Font/H5/Bold;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0px;
}
.fontPoppins-400-16{
    //styleName: Mobile Font/H6/Regular;
font-family: Nunito;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;

}
.sizesH1{
    @include sizes (auto, 76px,0px, 0px, 0px, 0px);
    margin-bottom: 15px;
    }
.sizesH5{
    @include sizes (auto, 19px,0px, 0px, 0px, 0px);
   
    }
.sizesH6{
    @include sizes (auto, 66px,0px, 0px, 0px, 0px);
    }
.container3{display: none}
.container3-mob{
        @include container( flex,100%,initial,
        flex-start, 0px, 0px, 0px, 0px,
        100vw, auto  );
        // 375px,719px  );
        flex-direction: column;
        flex-wrap: nowrap;
    }
.button{
        width: 303px;
        height: 44px;
        margin: 0 auto 20px auto;
}
.button-line{
    align-items: center;
    margin: 0px auto 20px auto;  
    
    flex-wrap: wrap;
    justify-content: center;

}
.tag-line{
    // margin: 0 auto 0 90px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 35px;
    position: relative;
}

.circle {

 width: 133px;
 height: 32px;
 background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
 border-radius: 16px;
 }
 .button-font{
font-size: 16px;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
}
.fontNunito-700-15
{ font-size: 12px;
  line-height: 16px;
 color: $Heading-Color;
}
.line-height{
    @include line-height(32px);
 }
 .tag-no-mob{
display: contents;
font-family: Nunito;
font-size: 10px;
font-weight: 400;
line-height: 14px;
}
.container4-no-mob{
    display: none;
}
.container4-mob{
    display: flex;
    
}

// section -grid
.container4{
    @include container( grid,100%,unset,
    unset, 50px, 0px, 50px, 0px,
    100%,1261px  );
}
.h5-bold-white-mob{
    color: $Heading-Color;
}  
.paragraph-color-mob{
    color: $paragraph-color;
   
}
.container4-item2 { grid-area: text-h6;
padding-bottom: 0px;}
.container4-item3 { grid-area: line-1-1; 
    background-color: white;
    padding: 0px 0px;
    
    
}
.container4-item-mob{
    display: flex;
    position: relative;
}
.container4-item
{
    padding: 0px 0px;
    text-align:initial ;}

.container4-grid-template-areas {
    grid-template-areas:
    'text-h3'
    'text-h6'
    'line-1-1' 
    'line-1-2'
    'line-1-3'
    'line-1-4'
    'line-2-1'
    'line-2-2'
    'line-2-3'
    'line-2-4';
    gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: 38px 110px 116px 116px 116px 116px 116px 116px 116px 116px;
}

.container4-item-size-img{
    margin: 0px auto 0px auto;
    width: 112px;
    height: 92px;
}
.container4-item-size-img-smoll{
    margin: 25px auto auto auto;
    width: 50px;
    height: 50px;
    position: absolute;
    background-position: top center;
    background-size: 50px 50px;  
}


.container4-item-hover:hover [class*="container4-item"]{
    background-position: top center;
    background-size: 50px 50px;  
}

.container4-item-flex{
    position: absolute;
    left: 112px;
    top: 45px;
}
.margin {
    margin: 15px 0 10px 0;
}

//About-us
.container-About-us{
    @include container( flex,100%,initial,
    flex-start, 0px, auto, 50px, auto,
    100%, 1210px  );
    // 375px,1231px  );
    flex-direction: column;
    flex-wrap: nowrap;
    
}
.container-About-us-left{
@include sizes (375px, 462px , 0,0,0,0);
// @include sizes (100%, 462px, 0,0,0,0);
position: relative;
margin: 0 auto;
flex: 1 0 40%;
}
.container-About-us-left::after{
    content: "";
    display: block;
    clear: both;
}
.container-About-us-left-gren{
    height: 293px;
    width: 188px;
    left: 15px;
    
}
.container-About-us-left-601-741{
    height: 358px;
    width: 291px;
    left: 27px;
    top: 12px;
    position: absolute;
    margin: 0 ;
    background-size: 291px 358px;
}
.container-About-us-left-453-356{
    height: 162px;
    width: 241px;
    left: 118px;
    top: 267px;
    position: absolute;
    border: 9px solid #FFFFFF;
    margin: 0 0 30px 0;
    
    
    background-size: 241px 162px;
}
    

.container-About-us-right{
    @include sizes (100%, 739px, 0, 10px, 0, 10px);
    padding-top: 0;
    // gap: 15px;
    display: flex;
    flex-direction: column;
    
}
.h3-About-us{
    letter-spacing: -1px;
    text-align: center;
}
.container-About-us-right-p{
    height: auto;
    width: 100%;
    margin: 15px 0 40px 0;
}
.container-About-us-cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 208px;
    width: 334px;
    gap: 20px;
    margin: 0 auto;
}
.about-us-cards{
    
    flex-direction: column;
}
.card-our{
    @include sizes (162px,94px,0px,0px, 0px,0px);
    box-shadow: 2px 11px 30px 0px #33333314;

    }
.about-us-cards-icon{
        @include sizes (40px,40px,0px,0px,0px,0px);
        
    background-size: 40px 40px;
        
}
.container-About-us-cards-l{
    gap: 20px;
}
.button-About-us{
    width: 167px;
    height: 40px;
    margin: 30px auto 0 auto;
}

//Why-Choose-Us
.container-Why-Choose-Us{
    
    @include  container ( flex, 100%,flex-start,
    center, 0px, 0px, 50px, 0px,
    100%,auto );
//684px
flex-direction: column;
}
.why-Choose-Us-left{
    @include sizes (100%, 417px, 0,0,0,0);
    position: relative;
    order: 2;
    }
    .why-Choose-Us-right{
        @include sizes (100%, auto, 0,0,0,0);
        position: relative;
    order: 1;
    display: flex;
    align-items: flex-start;
        }
.why-Choose-Us-right-img2{
// background: url(./image/why-Choose-Us-right.svg) top center/590px 597px no-repeat;
background-size: 199px 196px;
height: 196px;
width: 199px;
left: calc(100vw - 130px);
// left: 245px;
top: -80px;
transform: matrix(-0.39, 0.92, -0.92, -0.4, 0, 0);
flex: 0 0 50%; 
        }
.why-Choose-Us-right-img{
 background-size: 90vw;
//  width: 100%;
//  height: 217px;
 margin: 50px auto 30px auto;
width: 100vw;
position:relative ;
max-width: 100vmax;
height: 35vh;
}
.why-Choose-Us-left-img1{
    background-size: 251px 248px;
    height: 248px;
    width: 251px;
    transform: matrix(-0.5, 0.87, -0.86, -0.5, 0, 0);
    left: -175px;
    top: -130px;
}
.why-Choose-Us-left-text{
    width: calc( 100% - 30px);
    height: 337px;
    margin: 30px 15px 50px 15px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.why-Choose-Us-left-tag{
    height: 64px;
    width: 100%;
    flex-direction: column;
    }
.why-Choose-Us-left-card{
        width: 158px;
        height: 22px;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
    }
    .why-Choose-Us-left-card2{
        width: 158px;
    }
.why-Choose-Us-icol{
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    
        }

.why-Choose-Us-left-card-text{
            width: 128px;
            }
.why-Choose-Us-left-card-text2{
            width: 128px;
            }
.button-why-Choose-Us{
    width: 167px;
    height: 40px;
}












}