@media (max-width:375px){
.frame-3331{
        height: 719px;
        width: 375px;
        background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
    
    }
.tag-mob{
    display: none;
}    
.frame-3331-image2{
width: 100vw;
height: 50vh;
position: absolute;
top: 110px;
left: 0px;

}
.frame-3331-image1{
    position: absolute;
    background: url(./image/section-im1.svg) no-repeat;
    width: 83px;
height: 118px;
left: -10px;
top: 730px;

}
.content{
    width: 100vw;
    // padding-bottom: 5.2%;
    
    }
.frame-3331-text{
        padding-left: 15px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
 }
 h5{
font-size: 14px;
line-height: 19px;
letter-spacing: 0px;
}
h1 {
font-weight: 700;
font-size: 28px;
line-height: 38.19px;
}
h6{
font-size: 14px;
line-height: 32px;
}
.sizesH1{
    @include sizes (auto, 76px,0px, 0px, 0px, 0px);
    margin-bottom: 15px;
    }
.sizesH5{
    @include sizes (auto, 19px,0px, 0px, 0px, 0px);
    margin-bottom: 10px;
    }
.sizesH6{
    @include sizes (auto, 66px,0px, 0px, 0px, 0px);
    }
    .container3{
        @include container( flex,100%,space-evenly,
        end, 0px, 0px, 0px, 0px,
        375px,719px  );
    }
}