@media (max-width:$width-frame-mob){
.frame-3331{
    height: 719px;
    // width: 375px;
    width: 100%;
    background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
 }
.tag-mob{
    display: none;
}    
.frame-3331-image2{
width: 100vw;
height: 50vh;
position: absolute;
top: 110px;
left: 0px;

}
.frame-3331-image1{
    position: absolute;
    background: url(./image/section-im1.svg) no-repeat;
    width: 83px;
height: 118px;
left: -10px;
top: 730px;

}
.content{
    width: 100vw;
    }
.frame-3331-text{
        padding-left: 15px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
 }
 h5{
font-size: 14px;
line-height: 19px;
letter-spacing: 0px;
}
h1 {
font-weight: 700;
font-size: 28px;
line-height: 38.19px;
}
h6{
font-size: 14px;
line-height: 22px;
}
h3 {
  //styleName: Mobile Font / H1 / Bold;
font-size: 28px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0px;
}
.h5-bold{
//styleName: Mobile Font/H5/Bold;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0px;
}
.fontPoppins-400-16{
    //styleName: Mobile Font/H6/Regular;
font-family: Nunito;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;

}
.sizesH1{
    @include sizes (auto, 76px,0px, 0px, 0px, 0px);
    margin-bottom: 15px;
    }
.sizesH5{
    @include sizes (auto, 19px,0px, 0px, 0px, 0px);
    margin-bottom: 10px;
    }
.sizesH6{
    @include sizes (auto, 66px,0px, 0px, 0px, 0px);
    }
    .container3{
        @include container( flex,100%,space-evenly,
        end, 0px, 0px, 0px, 0px,
        100%,719px  );
        // 375px,719px  );
    }
.button{
        width: 303px;
        height: 44px;
}
.button-line{
    align-items: center;
    margin-bottom: 20px;  
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;

}
.tag-flex-end{
    justify-content: flex-end;
}

.circle {

 width: 133px;
 height: 32px;
 background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
 border-radius: 16px;
 }
 .button-font{
font-size: 16px;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
}
.fontNunito-700-15
{ font-size: 12px;
  line-height: 16px;
 color: $Heading-Color;
}
.line-height{
    @include line-height(32px);
 }
 .tag-no-mob{
display: contents;
font-family: Nunito;
font-size: 10px;
font-weight: 400;
line-height: 14px;
}
.container4-no-mob{
    display: none;
}
.container4-mob{
    display: flex;
    
}
// section -grid
.container4{
    @include container( grid,100%,unset,
    unset, 50px, 0px, 50px, 0px,
    100%,1261px  );
}
.h5-bold-white-mob{
    color: $Heading-Color;
}  
.paragraph-color-mob{
    color: $paragraph-color;
   
}
.container4-item2 { grid-area: text-h6;
padding-bottom: 0px;}
.container4-item3 { grid-area: line-1-1; 
    background-color: white;
    padding: 0px 0px;
    
    
}
.container4-item-mob{
    display: flex;
    position: relative;
}
.container4-item
{
    padding: 0px 0px;
    text-align:initial ;}

.container4-grid-template-areas {
    grid-template-areas:
    'text-h3'
    'text-h6'
    'line-1-1' 
    'line-1-2'
    'line-1-3'
    'line-1-4'
    'line-2-1'
    'line-2-2'
    'line-2-3'
    'line-2-4';
    gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: 38px 110px 116px 116px 116px 116px 116px 116px 116px 116px;
}

.container4-item-size-img{
    margin: 0px auto 0px auto;
    width: 112px;
    height: 92px;
}
.container4-item-size-img-smoll{
    margin: 25px auto auto auto;
    width: 50px;
    height: 50px;
    position: absolute;
}
.container4-item-flex{
    position: absolute;
    left: 112px;
    top: 45px;
}
.margin {
    margin: 15px 0 10px 0;
}
}