* {
  box-sizing: border-box;
}

header {
  max-height: 144px;
  font-family: "Poppins", sans-serif;
  font-family: "Nunito", sans-serif;
  width: 100%;
}

.row {
  display: flex;
}

.fon {
  background-color: #0C4B35;
  width: 100%;
}

.fon-two {
  background-color: white;
  width: 100%;
  height: 85px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 17px 251px 0px 251px;
  width: 1410px;
  height: 59px;
}

.container2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 251px 0px 251px;
  width: 1410px;
  height: 85px;
}

.icon {
  width: 25px;
  height: 25px;
}

.email1 {
  background: url(./image/email1.svg) no-repeat center;
}

.phone-call1 {
  background: url(./image/phone-call1.svg) no-repeat center;
}

.location1 {
  background: url(./image/location1.svg) no-repeat center;
}

.fontPoppins-400-14 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  text-decoration: none;
}

.fontPoppins-400-16 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.fontNunito-700-16 {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #212529;
}

.container a {
  padding-right: 30px;
  padding-left: 10px;
}

.btn {
  padding: 5px;
  cursor: pointer;
}

.langdown {
  position: relative;
  display: inline-block;
}

.down-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 140px;
}

.down-content a {
  color: b #0C4B35;
  padding: 2px 0 2px 25px;
  text-decoration: none;
  display: block;
}

.down-content a:hover {
  background-color: #f1f1f1;
}

.langdown:hover .down-content {
  display: block;
}

.logo {
  background: url(./image/1LOGO.svg) no-repeat center;
  width: 120px;
  height: 55px;
}

.callus {
  background: url(./image/Call-Button.svg) center no-repeat;
  width: 170px;
  height: 50px;
}

.mainmenu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}

.widhit-row {
  width: 65%;
}

.color1 {
  color: #00730C;
}

@media (max-width: 1200px) {
  header {
    max-height: 125px;
  }
  .fon-two {
    height: 70px;
  }
  .container {
    margin: 0px;
    padding: 0 15px;
    width: 100%;
    height: 55px;
  }
  .container2 {
    margin: 0px;
    width: 100%;
    height: 70px;
  }
  .row > a {
    display: none;
  }
  .icon {
    max-width: 20px;
    max-height: 20px;
  }
  .fontPoppins-400-14 {
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    text-decoration: none;
  }
  .row > div[class*=icon] {
    margin-right: 20px;
  }
  .logo {
    background-size: 90px 40px;
    width: 90px;
    height: 40px;
  }
  .mainmenu {
    display: none;
  }
  .menumob {
    background: center no-repeat url(./image/Menu-1-mob.svg);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
  }
  .callus {
    background: url(./image/Call-ButtonMob.svg) center no-repeat;
    width: 40px;
    height: 34px;
  }
  .widhit-row {
    width: 33%;
  }
  .menuMob-width {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 90%;
  }
}
.button-font {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.fontNunito-700-15 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #212529;
}

.frame-3331 {
  height: 719px;
  width: 1920px;
  background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
}

.container3 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: end;
  margin: 0px 0px 0px 0px;
  width: 1920px;
  height: 719px;
}

.frame-3331-image1 {
  position: relative;
  background: url(./image/section-im1.svg) no-repeat;
  width: 10.3%;
  height: 278px;
  left: 1px;
  bottom: 75px;
}

.frame-3331-image2 {
  background: url(./image/section-im2.svg) no-repeat center;
  width: 53%;
  height: 673px;
}

.content {
  width: 36.7%;
  padding-bottom: 5.2%;
}

h5 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #212529;
}

.h5-bold {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: center;
  color: #212529;
}

h1 {
  /* H2/Extra Bold */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 79px;
  color: #212529;
}

.h1-color-selectively {
  color: #00730C;
}

.h5-bold-white {
  color: white;
}

.paragraph-color {
  color: #676767;
}

h6 {
  /* H6/Regular */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
}

h3 {
  /* H3/Extra Bold */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
  color: #212529;
}

.sizesH1 {
  width: auto;
  height: 158px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 20px;
}

.sizesH5 {
  width: auto;
  height: 20px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 20px;
}

.sizesH6 {
  width: auto;
  height: 60px;
  padding: 0px 0px 0px 0px;
}

.frame-3331-text {
  padding-left: 50px;
  padding-right: 90px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 175px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  background: #00730C;
  border-radius: 5px;
  border: #00730C solid 1px;
}

.button-line {
  align-items: center;
  margin-bottom: 60px;
  margin-top: 50px;
}

.frame--3331-button {
  line-height: 50px;
  margin-left: 30px;
  margin-right: 15px;
}

.arrow {
  background: url(./image/right-arrow.svg) center no-repeat;
  height: 16px;
  width: 20px;
}

.circle {
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
  border-radius: 25px;
}

.frame-3331-tag-one {
  display: flex;
  height: 50px;
  width: 149px;
  align-items: center;
  padding: 0px;
}

.line-height {
  line-height: 50px;
}

.line-pad {
  padding-left: 10px;
}

.tag-no-mob {
  display: none;
}

.container4 {
  display: grid;
  width: 100%;
  justify-content: unset;
  align-items: unset;
  margin: 100px 255px 100px 255px;
  width: 100%;
  height: 963px;
}

.container4-item1 {
  grid-area: text-h3;
  text-align: center;
}

.container4-item2 {
  grid-area: text-h6;
  text-align: center;
  padding-bottom: 20px;
}

.container4-item3 {
  grid-area: line-1-1;
  background-color: #00730C;
  padding: 10px 43px;
  text-align: center;
}

.container4-item4 {
  grid-area: line-1-2;
}

.container4-item5 {
  grid-area: line-1-3;
}

.container4-item6 {
  grid-area: line-1-4;
}

.container4-item7 {
  grid-area: line-2-1;
}

.container4-item8 {
  grid-area: line-2-2;
}

.container4-item9 {
  grid-area: line-2-3;
}

.container4-item10 {
  grid-area: line-2-4;
}

.container4-item {
  background-color: white;
  padding: 10px 43px;
  text-align: center;
}

.container4-grid-template-areas {
  grid-template-areas: "text-h3 text-h3 text-h3 text-h3" "text-h6 text-h6 text-h6 text-h6" "line-1-1 line-1-2 line-1-3 line-1-4 " "line-2-1 line-2-2 line-2-3 line-2-4 ";
  gap: 30px;
  grid-template-columns: 330px 330px 330px 330px;
  grid-template-rows: 60px 80px 366px 366px;
}

.text-align- {
  text-align: center;
}

.container4-item-size-img {
  margin: 26px auto 10px auto;
  width: 176px;
  height: 144px;
}

.container4-item-size-img-smoll {
  margin: 60px auto auto auto;
  width: 70px;
  height: 70px;
  position: absolute;
}

.margin {
  margin: 0 0 10px 0;
}

.gryp {
  display: flex;
  position: relative;
  justify-content: center;
}

.container4-mob {
  display: none;
}

@media (max-width: 1200px) {
  .frame-3331 {
    height: 719px;
    width: 100%;
    background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
  }
  .tag-mob {
    display: none;
  }
  .frame-3331-image2 {
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 110px;
    left: 0px;
  }
  .frame-3331-image1 {
    position: absolute;
    background: url(./image/section-im1.svg) no-repeat;
    width: 83px;
    height: 118px;
    left: -10px;
    top: 730px;
  }
  .content {
    width: 100vw;
  }
  .frame-3331-text {
    padding-left: 15px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
  }
  h5 {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
  }
  h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38.19px;
  }
  h6 {
    font-size: 14px;
    line-height: 22px;
  }
  h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
  }
  .h5-bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
  }
  .fontPoppins-400-16 {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sizesH1 {
    width: auto;
    height: 76px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 15px;
  }
  .sizesH5 {
    width: auto;
    height: 19px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 10px;
  }
  .sizesH6 {
    width: auto;
    height: 66px;
    padding: 0px 0px 0px 0px;
  }
  .container3 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: end;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 719px;
  }
  .button {
    width: 303px;
    height: 44px;
  }
  .button-line {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tag-flex-end {
    justify-content: flex-end;
  }
  .circle {
    width: 133px;
    height: 32px;
    background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
    border-radius: 16px;
  }
  .button-font {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .fontNunito-700-15 {
    font-size: 12px;
    line-height: 16px;
    color: #212529;
  }
  .line-height {
    line-height: 32px;
  }
  .tag-no-mob {
    display: contents;
    font-family: Nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
  .container4-no-mob {
    display: none;
  }
  .container4-mob {
    display: flex;
  }
  .container4 {
    display: grid;
    width: 100%;
    justify-content: unset;
    align-items: unset;
    margin: 50px 0px 50px 0px;
    width: 100%;
    height: 1261px;
  }
  .h5-bold-white-mob {
    color: #212529;
  }
  .paragraph-color-mob {
    color: #676767;
  }
  .container4-item2 {
    grid-area: text-h6;
    padding-bottom: 0px;
  }
  .container4-item3 {
    grid-area: line-1-1;
    background-color: white;
    padding: 0px 0px;
  }
  .container4-item-mob {
    display: flex;
    position: relative;
  }
  .container4-item {
    padding: 0px 0px;
    text-align: initial;
  }
  .container4-grid-template-areas {
    grid-template-areas: "text-h3" "text-h6" "line-1-1" "line-1-2" "line-1-3" "line-1-4" "line-2-1" "line-2-2" "line-2-3" "line-2-4";
    gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: 38px 110px 116px 116px 116px 116px 116px 116px 116px 116px;
  }
  .container4-item-size-img {
    margin: 0px auto 0px auto;
    width: 112px;
    height: 92px;
  }
  .container4-item-size-img-smoll {
    margin: 25px auto auto auto;
    width: 50px;
    height: 50px;
    position: absolute;
  }
  .container4-item-flex {
    position: absolute;
    left: 112px;
    top: 45px;
  }
  .margin {
    margin: 15px 0 10px 0;
  }
}/*# sourceMappingURL=style.css.map */